@import 'tailwindcss';

@theme {
  --color-primary: #000000;
  --color-app-blue: #377dff;
  --color-app-green: #38cb89;
  --color-app-orange: #ffab00;
  --color-app-red: #ff5630;
  /*neutral colors*/
  --color-neu-7: #141718;
  --color-neu-6: #232627;
  --color-neu-5: #343839;
  --color-neu-4: #6c7275;
  --color-neu-3: #e8ecef;
  --color-neu-2: #f3f5f7;
  --color-neu-1: #fefefe;
}
